@{ var UniqueId = Program.GetUniqueId(); }


<style>
    #container*{
        width: 100% !important;
        height: 100% !important;
    }

    svg[Attributes Style] {
        width: 300px;
        height: 100%;
        shape-rendering: crispedges;
    }
</style>

<div class="control-section" style="width:100%;height:100%;" id="@UniqueId">
    <div class="contextmenu-control" style="width:100%;height:100%;">
        <div id='contextmenutarget_@UniqueId' style="width:100%;height:100%;">
            <div class="col-md-12 control-section">
                <div class="content-wrapper" id="#column-container_@UniqueId">
                    <div id="container_@UniqueId" style="width:100%; height:100%;"> </div>
                </div>
            </div>
            
        </div>
        <ul id='contextmenu_@UniqueId'></ul>
    </div>
</div>
<script>

        var uniqueId = "container_@UniqueId";
    var uuid = "@UniqueId";
    function RedRaw() {
        debugger
        $("#column-container_" + uuid).html("<div id=" + uniqueId + "  ></div>");
        DrawHeatmap();
        $("#container_" + uuid + "_svg").css("width:100%; height:100%:");
        $("#container_" + uuid + "_svg").height("100%");
        $("#container_" + uuid + "_svg").width("100%");


    }
    DrawHeatmap();


        var menuItems = [
        {
            text: 'Container Selected - Event'
        },
        {
            separator: true
        },
        {
            text: 'Delete'
        },
        ];
    var menuOptions = {
        target: '#contextmenutarget_@UniqueId',
        items: menuItems,
        beforeItemRender: function (args) {
            if (args.item.text === 'Link') {
                args.element.classList.add('e-disabled');
            }
        },
        select: function (args) {
            console.log(args);
            console.log(args.item.properties.text);
            switch (args.item.properties.text) {

                case "Container Selected - Event":
                    ActivateEvent(0);
                    break;
                case "Delete":
                    RemoveElement("@UniqueId");
                    break;

            }
        }
    };
    var menuObj = new ej.navigations.ContextMenu(menuOptions, '#contextmenu_@UniqueId');

    var datasource = [[null, null, null, null, 16, 48, 0],
    [0, 15, 0, 24, 0, 39, 0],
    [0, 18, 37, 0, 0, 50, 0],
    [0, 10, 0, 0, 44, 5, 0],
    [0, 36, 0, 45, 20, 18, 0],
    [0, 28, 1, 42, 0, 10, 0],
    [0, 16, 32, 0, 1, 25, 0],
    [0, 31, 2, 9, 24, 0, 0],
    [0, 8, 47, 0, 0, 35, 0],
    [0, 31, 0, 0, 0, 40, 0],
    [0, 8, 0, 27, 0, 35, 0],
    [0, 12, 9, 45, 0, 8, 0],
    [0, 0, 13, 0, 22, 10, 0],
    [0, 16, 32, 0, 1, 25, 0],
    [0, 31, 2, 9, 24, 0, 0],
    [0, 8, 47, 27, 0, 35, 0],
    [0, 28, 14, 10, 0, 0, 0],
    [0, 36, 0, 45, 20, 18, 0],
    [0, 28, 1, 42, 0, 10, 0],
    [0, 31, 0, 24, 0, 40, 0],
    [0, 8, 47, 27, 0, 35, 0],
    [0, 36, 0, 45, 20, 18, 0],
    [0, 28, 1, 42, 0, 10, 0],
    [0, 31, 0, 24, 0, 40, 0],
    [0, 16, 32, 0, 1, 25, 0],
    [0, 31, 2, 9, 24, 0, 0],
    [0, 8, 47, 27, 0, 35, 0],
    [0, 10, 0, 36, 23, 19, 0],
    [0, 18, 37, 23, 0, 50, 0],
    [0, 28, 14, 10, 0, 0, 0],
    [0, 18, 37, 23, 0, 50, 0],
    [0, 18, 37, 23, 0, 50, 0],
    [0, 28, 14, 10, 0, 0, 0],
    [0, 31, 2, 9, 24, 0, 0],
    [0, 8, 47, 27, 0, 35, 0],
    [0, 10, 2, 0, 44, 5, 0],
    [0, 36, 0, 45, 20, 18, 0],
    [0, 28, 1, 42, 0, 10, 0],
    [0, 31, 0, 24, 0, 40, 1],
    [0, 16, 32, 0, 1, 25, 0],
    [0, 31, 2, 9, 24, 0, 0],
    [0, 8, 47, 27, 0, 35, 0],
    [0, 10, 2, 0, 44, 5, 0],
    [0, 12, 9, 45, 0, 8, 0],
    [0, 0, 13, 35, 22, 10, 0],
    [0, 28, 14, 10, 0, 0, 0],
    [0, 36, 0, 45, 20, 18, 2],
    [0, 28, 1, 42, 0, 10, 0],
    [0, 31, 0, 24, 0, 40, 1],
    [0, 8, 47, 27, 0, 35, 0],
    [0, 10, 2, 0, 44, 5, 0],
    [0, 31, 2, 9, 24, 0, 1],
    [0, 8, 47, 27, 0, 35, 40],
    [0, 10, 2, 0, 44, 5, null],
    ];

    function DrawHeatmap() {
        var heatmap = new ej.heatmap.HeatMap({
            titleSettings: {
                text: 'Net Migration Rate of Northern Europe From 1965 to 2015',
                textStyle: {
                    size: '15px',
                    fontWeight: '500',
                    fontStyle: 'Normal',
                    fontFamily: 'Segoe UI'
                }
            },
            xAxis: {
                labels: ['Channel Isl', 'Denmark', 'Estonia', 'Finland',
                    'Iceland', 'Ireland', 'Latvia', 'Lithuania', 'Norway', 'Sweden', 'UK'],
                labelRotation: -90,
                labelIntersectAction: 'None',
            },
            yAxis: {
                labels: ['1965-1970', '1970-1975', '1975-1980', '1980-1985', '1985-1990',
                    '1990-1995', '1995-2000', '2000-2005', '2005-2010', '2010-2015']
            },
            dataSource: datasource,
            paletteSettings: {
                palette: [{ color: '#C06C84' },
                { color: '#355C7D' }
                ],
            },
            renderingMode: 'SVG',
            cellSettings: {
                border: {
                    width: 0
                },
                showLabel: false,
                format: '{value} %'
            },
            legendSettings: {
                position: 'Bottom',
                width: '200px'
            },
            load: function (args) {
                var renderModeTheme = location.hash.split('/')[1];
                renderModeTheme = renderModeTheme ? renderModeTheme : 'Material';
                args.heatmap.theme = (renderModeTheme.charAt(0).toUpperCase() + renderModeTheme.slice(1));
            },
        });
        heatmap.appendTo('#container_@UniqueId');

     }


     

</script>