@{
    var selected = ViewData["SelectedFile"] as string;
    Layout = "~/Views/Shared/_LayoutCompiler.cshtml";
}


<div id="ContentPane" >

</div>
<script>
    var currentDragable = 0;
    var layoutName = "@selected";
    GetLayoutByName(layoutName);

    function GetLayoutByName(layout) {
        var contentHolder = document.getElementById("ContentPane");
        contentHolder.innerHTML = "";
        $.ajax({
            url: "/RunLayout/GetContent?contentLayoutPath="+layout,
            method: "GET",
            success: function (data) {
                debugger

                 var draggableValue = 0;
                for (var element in data) {
                    GenerateWidgetOn(data[element], draggableValue);
                    draggableValue++;
                }

             //   SetDraggableStartingIndex(draggableValue);

            }
        });
    }



    function GenerateWidgetOn(component, currentDragable) {
    var getElement = document.createElement("div");
    getElement.setAttribute("id", "element" + currentDragable);


    //getElement.classList.add("resize-drag");

    $("#ContentPane").append(getElement);

    $.ajax({
        url: "/Home/GetComponent?componentName=" + component.componentName,
        method: "GET",
        success: function (data) {
           // getElement.onmouseup = ElementReleased;
            $("#element" + currentDragable).html(data);
            getElement.style.setProperty("position", "absolute");
            getElement.style.setProperty("width", component.wPercent+"%");
            getElement.style.setProperty("height", component.hPercent + "%");
            getElement.style.setProperty("top", component.hoPercent + "%" );
            getElement.style.setProperty("left", component.woPercent +"%");

 

            if (component.base64 !== "" && component.base64 !== undefined && component.base64 !== null) {
                SetContent(component.base64);
            }
            //getElement.style.cssText = component.translate;
            RedRaw();
            if (component.events[0] !== undefined) {
                getElement.setAttribute("onclick", RenderLayout(component.events[0].path));

            }
         }
    });
    }

    function RenderLayout(path) {

    }

     
  

    $(window).resize(function () {
        GetLayoutByName(layoutName);

     });
     
 
</script>