.widgetText {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1vw;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.icon {
    color: #ff7979;
    width: 100% !important;
    font-size: 2vw;
    text-align: center;
}

.IconContainer {
    margin-top: 20px;
    cursor: pointer;
    z-index: 55;
}

#outer-dropzone {
    transform: translateX(0px);
    margin: 0px 0px 0px 290px;
    padding: 0px;
    width: 100%;
    min-height: 94vh;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    touch-action: none;
    transform: translate(0px, 0px);
}


.resize-drag {
    transform: translate(301px, 269px);
    border: 2px dashed #1c86c8;
}
.sb-mobile-diagram {
    width: 100%;
    height: 100%;
    float: left;
}

.MenuIcon {
    padding:3px !important;
 }

.MenuIcon:hover {
background: #0a6298 !important;
color: #ff7979 !important;
}

.e-inplaceeditor .e-editable-value-wrapper .e-editable-value {
    color: white;
}

.e-inplaceeditor .e-editable-value-wrapper .e-editable-overlay-icon {
    color: white;
}

.e-inplaceeditor .e-editable-value-wrapper:hover {
    background: #0a6298 !important;
    color: #ff7979 !important;
    border-radius: 2px;
}

.e-inplaceeditor .e-editable-value-wrapper .e-editable-value{
    border:none;
}


.resizable {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 5px;
    margin: 3em;
    box-sizing: border-box;
    user-select: none;
}

.resize-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    right: 0;
    bottom: 0;
}



.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    overflow: scroll;
    background-color: #eee;
    touch-action: manipulation;
}

.popup {
    z-index: 9;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-height: 1px;
    min-width: 1px;
    max-height: max-content;
    max-width: 100%;
    overflow:hidden !important;
}

/*Drgable */

.popup {
    position: absolute;
    /*resize: both; !*enable this to css resize*! */
    overflow: auto;
}

.popup-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

/*Resizeable*/

.popup .resizer-right {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: e-resize;
}

.popup .resizer-bottom {
    width: 100%;
    height: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: n-resize;
}

.popup .resizer-both {
    width: 5px;
    height: 5px;
    background: transparent;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nw-resize;
}

/*NOSELECT*/

.popup * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.header-list{
    display:flex;
    width:100%;
}
#header-section .border-left {
    border-left: 1px solid #d2d6de;
 }

#header-section .header-style {
    font-size: 1.1em !important;
}
.menuDrag {
    -webkit-app-region: drag;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

#header-section.main-header {
    border-bottom: 1px solid rgb(210, 214, 222);
    height: 36px;
    background: rgb(28, 134, 200);
    color: rgb(255, 255, 255);
}

.MenuItem {
    width: 46px !important;
    height:36px !important;
}