@{ var UniqueId = Program.GetUniqueId(); }

<style>
    .e-listview:not(.e-list-template) .e-list-item:hover {
        background-color: #f1f1f1;
    }
</style>

<div class="control-section" style="width: 100%; height: 100%; background: #1c86c873 " id="@UniqueId">
    <img id="placeholder_@UniqueId" style="display:none; width:100%;height:100%;" />
</div>



<script>
     var activeId;
    
    var elementOptions = [
        {
            'text': 'On Element Clicked',
            'id': 'Event1',
            'enabled': true,
            'category': 'Events',
            'EventName': "ElementClicked"
        },
        {
            'text': 'Upload Image',
            'id': 'Option1',
            'enabled': true,
            'category': 'Element Specific',
            'EventName': "Upload"
        },
        {
            'text': 'Set Background',
            'id': 'Option2',
            'enabled': true,
            'category': 'Element Specific',
            'EventName': "SetBackground"
        },
        {
            'text': 'Enable Scaling',
            'id': 'Option3',
            'enabled': true,
            'category': 'Element Specific',
            'EventName': "Scale"
        },
        {
            'text': 'Delete',
            'id': 'Option4',
            'enabled': true,
            'category': 'Element Specific',
            'EventName': "RemoveElement"
        },
        {
            'text': 'Close',
            'id': 'Option5',
            'enabled': true,
            'category': 'Element Specific',
            'EventName': "Cancel"
        }
    ];

    function GetElementUUID() {
        return "@UniqueId";
    }

    function GetBindingOptions() {
        return elementOptions;
    }

    function RedRaw() {

    }

        


    function SetContent(content) {
        var imageElement = document.getElementById("placeholder_@UniqueId");
        imageElement.setAttribute("src", "data:image/jpeg;base64, " + content);
        imageElement.style.setProperty("display", "");
    }
 

</script>