@{ var UniqueId = Program.GetUniqueId(); }


<div class="control-section" style="width:100%;height:100%;" id="@UniqueId">
    <div class="contextmenu-control" style="width:100%;height:100%;">
        <div id='contextmenutarget_@UniqueId' style="width:100%;height:100%;">
            <div class="img-fluid" style="width:100%; height:100%">
                <div id='inplace_editor_@UniqueId'></div>
            </div>
        </div>
        <ul id='contextmenu_@UniqueId'></ul>
    </div>
</div>


<script>

    var uniqueId = "inplace_editor_@UniqueId";
    var uuid = "@UniqueId";
    function RedRaw() {

        $("#column-container_" + uuid).html("<div id=" + uniqueId + "  ></div>");
        DrawInPlaceEditor();



    }
    DrawInPlaceEditor();


        var menuItems = [
        {
            text: 'Container Selected - Event'
        },
        {
            separator: true
        },
        {
            text: 'Delete'
        },
        ];
    var menuOptions = {
        target: '#contextmenutarget_@UniqueId',
        items: menuItems,
        beforeItemRender: function (args) {
            if (args.item.text === 'Link') {
                args.element.classList.add('e-disabled');
            }
        },
        select: function (args) {
            console.log(args);
            console.log(args.item.properties.text);
            switch (args.item.properties.text) {

                case "Container Selected - Event":
                    ActivateEvent(0);
                    break;
                case "Delete":
                    RemoveElement("@UniqueId");
                    break;

            }
        }
    };
    var menuObj = new ej.navigations.ContextMenu(menuOptions, '#contextmenu_@UniqueId');

    function DrawInPlaceEditor() {
        var editObj = new ej.inplaceeditor.InPlaceEditor({
            mode: 'Inline',
            type: 'Text',
            value: 'Andrew',
            submitOnEnter: true,
            model: {
                placeholder: 'Enter employee name'
            },
            popupSettings: {
                title: 'Enter Employee Name'
            }
        });
        editObj.appendTo('#inplace_editor_@UniqueId');
    }

  
</script>