@{ var UniqueId = Program.GetUniqueId(); }


<div class="control-section" style="width:100%;height:100%; overflow:hidden" id="@UniqueId">
    <div class="contextmenu-control" style="width:100%;height:100%;">
        <div id='contextmenutarget_@UniqueId' style="width:100%;height:100%;">
            <div class="col-md-12 control-section">
                <div class="content-wrapper" id="column-container_@UniqueId">
                    <div id="default-container_@UniqueId"></div>

                </div>
            </div>

        </div>
        <ul id='contextmenu_@UniqueId'></ul>
    </div>
</div>


 
<script src="~/js/TreeMapData.js"></script>
<script>
    var uniqueId = "default-container_@UniqueId";
    var uuid = "@UniqueId";
    function RedRaw() {
        $("#column-container_" + uuid).html("<div id=" + uniqueId + "  ></div>");
        DrawTreeMap();
    }
    DrawTreeMap();


        var menuItems = [
        {
            text: 'Container Selected - Event'
        },
        {
            separator: true
        },
        {
            text: 'Delete'
        },
        ];
    var menuOptions = {
        target: '#contextmenutarget_@UniqueId',
        items: menuItems,
        beforeItemRender: function (args) {
            if (args.item.text === 'Link') {
                args.element.classList.add('e-disabled');
            }
        },
        select: function (args) {
            console.log(args);
            console.log(args.item.properties.text);
            switch (args.item.properties.text) {

                case "Container Selected - Event":
                    ActivateEvent("@UniqueId");
                    break;
                case "Delete":
                    RemoveElement("@UniqueId");
                    break;

            }
        }
    };
    var menuObj = new ej.navigations.ContextMenu(menuOptions, '#contextmenu_@UniqueId');

   var tooltipRender = function (args) {
        args.item.data.Sales = args.item.weight;
        args.treemap.tooltipSettings.format = args.item.groupIndex === 0 ? 'Country: ${Continent}<br>Sales: ${Sales}' :
            'Country: ${Continent}<br>Company: ${Company}<br>Sales: ${Sales}';
    };

    function DrawTreeMap() {
        var treemap = new ej.treemap.TreeMap({

            titleSettings: {
                text: 'Car Sales by Country - 2017',
                textStyle: { size: '15px' }
            },
            itemMove: tooltipRender,
            itemClick: tooltipRender,
            rangeColorValuePath: 'Sales',
            format: 'n',
            useGroupingSeparator: true,
            dataSource: window.CarSales,
            legendSettings: {
                visible: true,
                position: 'Top',
                shape: 'Rectangle',
            },
            palette: ['#C33764', '#AB3566', '#993367', '#853169', '#742F6A', '#632D6C', '#532C6D', '#412A6F', '#312870', '#1D2671'],
            tooltipSettings: {
                visible: true
            },
            weightValuePath: 'Sales',
            leafItemSettings: {
                labelPath: 'Company',
                border: { color: 'white', width: 0.5 }
            },
            levels: [
                {
                    groupPath: 'Continent', border: { color: 'white', width: 0.5 },
                }
            ]
        });
        treemap.appendTo('#default-container_@UniqueId');

    }

</script>