@{ var UniqueId = Program.GetUniqueId(); }

<div class="control-section" style="width:100%;height:100%; overflow:hidden" id="@UniqueId">
    <div class="contextmenu-control" style="width:100%;height:100%;">
        <div id='contextmenutarget_@UniqueId' style="width:100%;height:100%;">
            <div class="col-md-12 control-section">
                <div class="content-wrapper" id="column-container_@UniqueId">
                    <div id="TreeGrid_@UniqueId">
                    </div>
                </div>
            </div>

        </div>
        <ul id='contextmenu_@UniqueId'></ul>
    </div>
</div>

<script id="flagtemplate" type="text/x-template">
    ${if(name != 'Select All')}
    <div class="image" style="display:inline-block">
        ${if(parentItem)}
        <img src="src/tree-grid/images/${parentItem.name}.png" class="e-image" alt="${name}" />
        ${else}
        <img src="src/tree-grid/images/${name}.png" class="e-image" alt="${name}" />
        ${/if}
    </div>
    <div style="display:inline-block; padding-left:4px">${name}</div>
    ${else}
    ${name}
    ${/if}
</script>
<script id="areatemplate" type="text/x-template">
    <span>
        ${area} km<sup>2</sup>
    </span>
</script>
<script id="locationtemplate" type="text/x-template">
    <div class="image">
        <img src="src/tree-grid/images/Map.png" class="e-image" alt="${coordinates}" /> &nbsp
        <a target="_blank" href="https://www.google.com/maps/place/${coordinates}">${coordinates}</a>
    </div>
</script>
<script type="text/x-template" id="gdptemplate">
    <div class="statustemp">
        <span class="statustxt">${gdp} %</span>
    </div>
</script>
<script type="text/x-template" id="timezonetemplate">
    ${utcZone(data)}
    <span style="padding-left:7px;">${timezone}</span>
</script>
<script type="text/x-template" id="ratingtemplate">
    ${if(rating)}
    <div class="rating">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
    </div>
    ${/if}
</script>

<script type="text/x-template" id="unemploymentTemplate">
    <div id="myProgress" class="pbar">
        <div id="myBar" class="bar">
            <div id="label" class="barlabel"></div>
        </div>
    </div>
</script>
<script>


    var uniqueId = "TreeGrid_@UniqueId";
    var uuid = "@UniqueId";
    function RedRaw() {
        $("#column-container_" + uuid).html("<div id=" + uniqueId + "  ></div>");
        DrawTreeGrid();
    }
    DrawTreeGrid();


        var menuItems = [
        {
            text: 'Container Selected - Event'
        },
        {
            separator: true
        },
        {
            text: 'Delete'
        },
        ];
    var menuOptions = {
        target: '#contextmenutarget_@UniqueId',
        items: menuItems,
        beforeItemRender: function (args) {
            if (args.item.text === 'Link') {
                args.element.classList.add('e-disabled');
            }
        },
        select: function (args) {
            console.log(args);
            console.log(args.item.properties.text);
            switch (args.item.properties.text) {

                case "Container Selected - Event":
                    ActivateEvent(0);
                    break;
                case "Delete":
                    RemoveElement("@UniqueId");
                    break;

            }
        }
    };
    var menuObj = new ej.navigations.ContextMenu(menuOptions, '#contextmenu_@UniqueId');


    var data = [
        {
            "name": "USA",
            "capital": "Washington, D.C.",
            "area": 9147590,
            "population": 327892000,
            "gdp": 2.2,
            "timezone": "UTC -5 to -10",
            "rating": 5,
            "unemployment": 3.9,
            "coordinates": "37.0902° N, 95.7129° W",
            "states": [
                {
                    "name": "Washington, D.C.",
                    "area": 184827,
                    "population": 693972,
                    "gdp": 4.7,
                    "timezone": "UTC -5",
                    "unemployment": 4.3,
                    "coordinates": "38.9072° N, 77.0369° W"
                },
                {
                    "name": "New York",
                    "area": 783.8,
                    "capital": "Albany",
                    "population": 8175133,
                    "gdp": 1.9,
                    "timezone": "UTC -5",
                    "unemployment": 3.9,
                    "coordinates": "40.7128° N, 74.0060° W"
                },
                {
                    "name": "New Mexico",
                    "area": 315194,
                    "capital": "Santa Fe",
                    "population": 2088070,
                    "gdp": 0.1,
                    "timezone": "UTC -7",
                    "unemployment": 4.7,
                    "coordinates": "34.5199° N, 105.8701° W"
                },
                {
                    "name": "Alaska",
                    "area": 1717856,
                    "capital": "Juneau",
                    "population": 297832,
                    "gdp": -0.5,
                    "timezone": "UTC -9",
                    "unemployment": 6.3,
                    "coordinates": "64.2008° N, 149.4937° W"
                }
            ]
        },
        {
            "name": "Greece",
            "capital": "Athens",
            "area": 131957,
            "population": 10783625,
            "gdp": 1.5,
            "timezone": "UTC +2.0",
            "rating": 3,
            "unemployment": 20.8,
            "coordinates": "39.0742° N, 21.8243° E",
            "states": [
                {
                    "name": "Athens",
                    "area": 2929,
                    "population": 664046,
                    "gdp": 1,
                    "timezone": "UTC +2.0",
                    "unemployment": 7.7,
                    "coordinates": "37.9838° N, 23.7275° E"
                },
                {
                    "name": "Arcadia",
                    "capital": "Tripoli",
                    "area": 28.83,
                    "population": 58799,
                    "gdp": 2.5,
                    "timezone": "UTC +2.0",
                    "unemployment": 3,
                    "coordinates": "34.1397° N, 118.0353° W"
                },
                {
                    "name": "Argolis",
                    "capital": "Nafplio",
                    "area": 2154,
                    "population": 97044,
                    "gdp": 2.1,
                    "timezone": "UTC +2.0",
                    "unemployment": 6.2,
                    "coordinates": "37.6525° N, 22.8582° E"
                }
            ]
        },
        {
            "name": "Germany",
            "capital": "Berlin",
            "area": 357386,
            "population": 82293457,
            "gdp": 2.2,
            "timezone": "UTC +1.0",
            "rating": 5,
            "unemployment": 3.3,
            "coordinates": "51.1657° N, 10.4515° E",
            "states": [
                {
                    "name": "Berlin",
                    "area": 891.8,
                    "population": 3539234,
                    "gdp": 4.1,
                    "timezone": "UTC +1.0",
                    "unemployment": 7.7,
                    "coordinates": "52.5200° N, 13.4050° E"
                },
                {
                    "name": "Bavaria",
                    "capital": "Munich",
                    "area": 70550,
                    "population": 12997204,
                    "gdp": 3.1,
                    "timezone": "UTC +1.0",
                    "unemployment": 2.7,
                    "coordinates": "48.7904° N, 11.4979° E"
                },
                {
                    "name": "Saxony",
                    "capital": "Dresden",
                    "area": 18416,
                    "population": 4081308,
                    "gdp": 3.8,
                    "timezone": "UTC +1.0",
                    "unemployment": 6.2,
                    "coordinates": "51.1045° N, 13.2017° E"
                }
            ]
        },
        {
            "name": "Bangladesh",
            "capital": "Dhaka",
            "area": 147570,
            "population": 185584811,
            "gdp": 7.3,
            "timezone": "UTC +6.0",
            "rating": 3,
            "unemployment": 4.3,
            "coordinates": "23.6850° N, 90.3563° E",
            "states": [
                {
                    "name": "Dhaka",
                    "area": 306.4,
                    "population": 10356500,
                    "gdp": 7.28,
                    "timezone": "UTC +6.0",
                    "unemployment": 7.4,
                    "coordinates": "23.8103° N, 90.4125° E"
                },
                {
                    "name": "Barisal",
                    "capital": "Barisal",
                    "area": 16.37,
                    "population": 202242,
                    "gdp": 6.3,
                    "timezone": "UTC +6.0",
                    "unemployment": 5,
                    "coordinates": "22.7010° N, 90.3535° E"
                },
                {
                    "name": "Chittagong",
                    "capital": "Chittagong",
                    "area": 168.1,
                    "population": 3920222,
                    "gdp": 6.3,
                    "timezone": "UTC +6.0",
                    "unemployment": 4.7,
                    "coordinates": "22.3569° N, 91.7832° E"
                }
            ]
        },
        {
            "name": "Egypt",
            "capital": "Cairo",
            "area": 1001449,
            "population": 99375741,
            "gdp": 4.2,
            "timezone": "UTC +2.0",
            "rating": 3,
            "unemployment": 9.9,
            "coordinates": "26.8206° N, 30.8025° E",
            "states": [
                {
                    "name": "Cairo",
                    "area": 528,
                    "population": 7734614,
                    "gdp": 3.7,
                    "timezone": "UTC +2.0",
                    "unemployment": 11.3,
                    "coordinates": "30.0444° N, 31.2357° E"
                },
                {
                    "name": "Alexandria",
                    "capital": "Bacos",
                    "area": 46.42,
                    "population": 3811516,
                    "gdp": 4.2,
                    "timezone": "UTC +2.0",
                    "unemployment": 5.3,
                    "coordinates": "31.2001° N, 29.9187° E"
                },
                {
                    "name": "Giza",
                    "capital": "Giza",
                    "area": 1580,
                    "population": 2443203,
                    "gdp": 4.1,
                    "timezone": "UTC +2.0",
                    "unemployment": 4.7,
                    "coordinates": "30.0131° N, 31.2089° E"
                }
            ]
        },
        {
            "name": "Canada",
            "capital": "Ottawa",
            "area": 9984670,
            "population": 36953765,
            "gdp": 3,
            "timezone": "UTC -3.3 to -8",
            "rating": 5,
            "unemployment": 5.8,
            "coordinates": "56.1304° N, 106.3468° W",
            "states": [
                {
                    "name": "Ontario",
                    "capital": "Toronto",
                    "area": 908607,
                    "population": 14374084,
                    "gdp": 2.8,
                    "timezone": "UTC -5",
                    "unemployment": 5.9,
                    "coordinates": "51.2538° N, 85.3232° W"
                },
                {
                    "name": "Quebec",
                    "capital": "Quebec",
                    "area": 1542056,
                    "population": 8455402,
                    "gdp": 1.9,
                    "timezone": "UTC -4 to -5",
                    "unemployment": 5.6,
                    "coordinates": "46.8139° N, 71.2080° W"
                },
                {
                    "name": "Alberta",
                    "capital": "Edmonton",
                    "area": 661848,
                    "population": 4334025,
                    "gdp": 1.6,
                    "timezone": "UTC -7",
                    "unemployment": 7.8,
                    "coordinates": "53.9333° N, 116.5765° W"
                },
                {
                    "name": "Manitoba",
                    "capital": "Winnipeg",
                    "area": 647797,
                    "population": 1348809,
                    "gdp": 2.9,
                    "timezone": "UTC -6",
                    "unemployment": 6,
                    "coordinates": "53.7609° N, 98.8139° W"
                }
            ]
        }
    ];

    function DrawTreeGrid() {
        var treeGridObj = new ej.treegrid.TreeGrid({
            dataSource:data,
            childMapping: 'states',
            height: "100%",
            allowReordering: true,
            allowFiltering: true,
            allowSorting: true,
            filterSettings: { type: 'Excel' },
            queryCellInfo: queryCellInfo,
            columns: [
                {
                    field: 'name', headerText: 'Province', template: '#flagtemplate',
                    filter: { type: 'Excel', itemTemplate: '#flagtemplate' }, width: 190
                },
                { field: 'population', headerText: 'Population (Million)', valueAccessor: populationValue, textAlign: 'Right', width: 188 },
                { field: 'gdp', headerText: 'GDP Rate %', template: '#gdptemplate', allowFiltering: false, width: 120 },
                {
                    field: 'rating', headerText: 'Credit Rating', customAttributes: { class: 'ratingCircle' },
                    template: '#ratingtemplate', width: 150
                },
                {
                    field: 'unemployment', headerText: 'Unemployment Rate', allowFiltering: false,
                    template: '#unemploymentTemplate', width: 170
                },
                { field: 'coordinates', headerText: 'Coordinates', allowSorting: false, template: '#locationtemplate', width: 220 },
                { field: 'area', headerText: 'Area', template: '#areatemplate', width: 140 },
                { field: 'timezone', headerText: 'Time Zone', template: '#timezonetemplate', width: 150 }
            ]
        });
        treeGridObj.appendTo('#TreeGrid_@UniqueId');

    }

    window.utcZone = function (data) {
        var img = document.createElement('img');
        img.src = 'src/tree-grid/images/__Normal.png';
        if (data.timezone.indexOf("-") != -1) {
            img.className = 'negativeTimeZone';
        }
        return img.outerHTML;
    };
    function populationValue(field, data) {
        return data[field] / 1000000;
    }
    function queryCellInfo(args) {
        if (args.column.field === 'gdp') {
            if (args.data[args.column.field] < 2) {
                args.cell.querySelector('.statustxt').classList.add('e-lowgdp');
                args.cell.querySelector('.statustemp').classList.add('e-lowgdp');
            }
        }
        if (args.column.field === 'rating') {
            if (args.column.field === 'rating') {
                for (var i = 0; i < args.data[args.column.field]; i++) {
                    args.cell.querySelectorAll('span')[i].classList.add('checked');
                }
            }
        }
        if (args.column.field === 'unemployment') {
            if (args.data[args.column.field] <= 4) {
                ej.base.addClass([args.cell.querySelector('.bar')], ['progressdisable']);
            }
            args.cell.querySelector('.bar').style.width = args.data[args.column.field] * 10 + '%';
            args.cell.querySelector('.barlabel').textContent = args.data[args.column.field] + '%';
        }
    }
</script>